*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*---ESTILOS GENERALES---*/
body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vh 85vh 50px;
    grid-template-areas: 
    "cabeza cabeza"
    "nav contenido"
    "pie pie";
}

/*---HEADER---*/
header{
    grid-area: cabeza;
    background-image: linear-gradient(to right, rgba(0, 79, 0, 0.668), rgba(0, 0, 0, 0.600));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
header section h1{
    color: white;
    display: inline-block;
    margin: 0 0.5rem;

}
header section img{
    height: 8vh;
    display: flex;
    position: absolute; left: 100px; top: 10px;
    background-color: white;
    border-radius: 50%;
    animation-name: animacionDos;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


/*---NAV---*/
nav{
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0, 79, 0, 0.668);
    align-items: center;
    border-top: 10px black;
    

}

nav ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
nav ul li{
    width: 80%;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    list-style-type: none;
    margin: 7% 10px;
    text-decoration: solid;
    padding: 10px;
    background-color: white;
}
nav ul li a{
    color: black;
    transition: color 200ms;
}
nav ul li a:hover{
    color: rgba(0, 79, 0, 0.668);
}

nav section p{
    margin: 15%;
    padding: 20px;
    background-color: white;
    transition: 1s;
}

nav section p:hover{
    margin: 30px;
}




/*---MAIN---*/
main{
    grid-area: contenido;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.534);

}
main section{
    width: 50%;
    height: 55vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    border: 10px solid rgba(0, 0, 0, 0.449);
    font-weight: 700;
    transition: all 1s;
}

main section:hover{
    width: 60%;
    height: 65vh;
    background-color: rgb(127, 255, 155);
    border-style:double;
}


/*---FOOTER---*/
footer{
    grid-area: pie;
    background-color: rgba(0, 79, 0, 0.668);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

footer a:hover{
    color: black;
}

footer p{
    color: white;
}

/*---KEYFRAMES---*/
@keyframes animacionUno {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animacionDos {0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}